.main > * {
  max-width: 960px;
  margin: 0 auto;
}

.divider {
  margin: .5em 0;
  min-height: 26px;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid transparent;
  border-left: 1px solid #e4e4e4;
}

.hidden {
  display: none !important;
}

.subheader {
  font-size: 14px;
  color: #444;
}

.truncate-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.below-navbar {
  margin-top: 4rem;
}
@media(max-width: 600px) {
  .below-navbar {
    margin-top: 3rem;
  }
}

.toastify-content {
  background: #333 !important;
}

.list-container {
  padding: .5em;
}
.list-title-container {
  margin: 1rem;
}
.list-title {
  margin: 1rem 0;
}
.list-corner-fab {
  position: absolute;
  top: .75em;
  right: 1em;
}
.list {
}
.list-item {
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.list-item:last-child {
  border-bottom: none;
}


.edit-dialog {
  overflow: auto;
  width: 100%;
  max-width: 768px;
  margin: 0 2em;
}

.edit-dialog-active {
  margin: 1em;
}
.edit-dialog-active [data-react-toolbox="label"] {
  padding-left: 2.5em;
}
.edit-dialog-button {
  margin: .5em;
}

.select .Select-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
.select {
  padding-bottom: 20px;
}
.select-label {
  font-size: 12px;
  color: rgba(0,0,0, .3);
}
.select-icon {
  display: block;
  padding-top: 20px;
  padding-left: 12px;
  padding-right: 32px;
}
.select .Select-value {
  padding-left: 0 !important;
}
.select .Select-input {
  padding-left: 0 !important;
}

.select.is-focused .Select-control {
  border-color: var(--palette-teal-500);
}
.select .Select-menu-outer {
  top: 40px !important;
}
.select-outer-top .Select-menu-outer {
  top: unset !important;
  bottom: 60px !important;
  border-radius: 0px !important;
}

.date-picker-container {
  display: flex;
}
.date-picker-container [data-react-toolbox="date-picker"] {
  flex: 1;
}
