.sidenav {
  background: var(--palette-teal-500) !important;
  color: white !important;
}
.sidenav-links {
  margin: 12px 0;
}
.sidenav-links a {
  text-decoration: none;
}
.sidenav-links .material-icons {
  color: white !important;
  opacity: 0.75;
}
.sidenav-links span {
  color: white !important;
}
.sidenav-link:hover {
  background: #444 !important;
  background: rgba(0, 0, 0, 0.25) !important;
}
