.project-add-user-form {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .project-add-user-form {
    display: block;
  }
}
.project-users {
  margin: 1em;
}
.project-form {
  margin: 1em;
}
.project-form .material-icons {
  color: #666;
}