.Header {
  padding: 2px .5em;
  padding-left: 2px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-appbar-title {
  font-weight: normal !important;
  font-size: 1.3rem !important;
}
.header-appbar {
  background-color: var(--palette-teal-500) !important;
}

.header-avatar {
  display: block;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}
