.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f0f0;
}
.login-header {
  text-align: center;
  color: rgb(51,51,51);
}
.login-form {
  border: 1px solid #e4e4e4;
  padding: 1em;
  background: #f7f7f7;
}
/* fix for firefox */
.login-form input {
  box-shadow: none;
}
