.sidenav-header { 
  color: white;
  padding: 12px 1em;
}
.sidenav-header-top {
  display: flex;
  justify-content: space-between;
}
.sidenav a {
  text-decoration: none;
}
.sidenav-time-icon {
  opacity: .75;
  padding: 0 4px;
}
.sidenav-username {
  margin-bottom: 0;
}
.sidenav-avatar {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}