.task-cards-container {
  overflow-y: auto;
  max-height: 90px;
  width: 100%;
  padding-left: .5rem;
  color: #444;
}

.task-card {
  display: inline-flex;
  align-items: center;
  min-width: 220px;
  border: 1px solid #ccc;
  margin: 4px 8px;
  margin-left: 0;
  padding: 2px;
  border-radius: 2px;
  background: #f7f7f7;
}

.task-card-text {
  max-width: 170px;
  padding-left: 8px;
  padding-right: 4px;
}

.task-cards-star {
  font-size: 1em;
  margin: 0 .5em;
  color: var(--palette-amber-500);
}

.task-card-icon {
  opacity: .5;
  color: #444;
  padding: 4px;
  font-size: 1rem;
  height: 25px;
}
/*
.task-card:hover .task-card-button {
  visibility: visible;
}*/

.task-card-button {
  /*visibility: hidden;*/
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
.task-card-button:hover .task-card-icon,
.task-card-button:focus .task-card-icon {
  opacity: 1;
}
.task-card-button .play {
  font-size: 20px;
  padding: 2px;
}
.task-card-button:hover .play {
  color: var(--palette-green-500);
}
.task-card-button .clear{
  padding-right: 2px;
}
.task-card-button:hover .clear {
  color: tomato;
}
