.task-cards-star {
  font-size: 1em;
  margin: 0 .5em;
  color: var(--palette-amber-500);
}

.mini-delete {
  color: #444;
  cursor: pointer;
}
.mini-delete:hover {
  color: tomato;
}

.task-cards-container {
  overflow-y: auto;
  max-height: 90px;
  width: 100%;
  padding-left: .5rem;
}
.task-card {
  display: inline-flex;
  align-items: center;
  min-width: 200px;
  border: 1px solid #ccc;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  background: #f7f7f7;
}
.task-card-text {
  max-width: 150px;
  padding-left: 8px;
  padding-right: 4px;
}
.truncate-line {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.task-card-icon {
  opacity: .5;
  color: #444;  
  padding: 4px;
  font-size: 1rem;
  cursor: pointer;
  height: 25px;
}
.task-card-icon:hover,
.task-card-icon:focus {
  opacity: 1;
}

.task-card-icon.play {
  font-size: 20px;
  padding: 2px;
}
.task-card-icon.play:hover {
  color: var(--palette-green-500);
}
.task-card-icon.clear{
  padding-right: 2px;
}
.task-card-icon.clear:hover{
  color: tomato;
}

.task-card-button {
  border: none;
  background: none;
  padding: 0;
}
