.time-counters {
  height: 100%;
  padding: .5rem;
}
.time-counters .material-icons {
  opacity: .75;
  padding-right: .5em;
}
.time-counters-item {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
