.time-counters {
  height: 100%;
  padding: .5rem 1rem;
  font-size: 14px;
}
.time-counters .material-icons {
  opacity: .75;
  padding-right: 12px;
  font-size: 18px;
}
.time-counters > div {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}
