body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.not-found-page,
.hello-world {
  text-align: center;
}
.main {
  padding: .5em;
}

.header {
  display: flex;
}

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}